body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffaf5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #f3ede5;
    color: #705222;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #705222;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #5a411b;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}

form {
    display: inline-block;
}

.empty-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.popup img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    outline: 1px solid #333;
}